# Conexion a PostgreSQL (IP PRIVADA de la MV de base de datos)
POSTGRES_HOST=DATABASE_PRIVATE_IP
POSTGRES_PORT=5432
POSTGRES_DB=cloudshop_usuarios
POSTGRES_USER=ingesta_pg
POSTGRES_PASSWORD=CLAVE_LECTURA

#Bucket S3 destino
S3_BUCKET=cloudshop-data-lake-2026-g05
